@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  color: #fff;
  overflow: hidden;
}
.backimgContainer{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 0;
  
  background: linear-gradient(180deg, #000, #060606, #060606, #060606, #060606, #060606);
}


.backimgContainer img {
  position: absolute;
}
div.container {
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
}

nav {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  z-index: 1;
}
nav .logo {
  margin-top: 14px;
}
.navOptions ul {
  width: 360px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: "Raleway", Arial;
  font-size: 20px;
  font-weight: 600;
}
.navOptions ul a {
  text-decoration: none;
  color: #fff;
}
.navOptions ul a:nth-child(1) {
  color: #42FF00;
}


section.conteudo {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between; 
  margin-top: 140px;
  padding: 5%;
  z-index: 1;
}

.leftContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.textContent h1{
  font-size: 85px;
  color: #E1E1E1;
  line-height: 80px;
}
.textContent p {
  font-family: "Raleway", Arial;
  font-size: 24px;
  font-weight: 200;
  color: #a0a0a0;
  margin-top: 47px;
}
.setaContainer {
  margin-top: 47px;
}
.setaContainer a {
  width: 60px;
  height: 60px;
  border: #fff solid 1px;
  border-radius: 50px;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.setaContainer a button {
  width: 60px;
  height: 60px;
  border: #fff solid 1px;
  border-radius: 50px;
  background-color: transparent;
  filter: blur(5px);
  position: absolute;
}

.social {
  margin-top: 195px;
  width: 202px;
  display: flex;
  justify-content: space-between;
}

.rightContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.greenBar {
  right: 0;
  width: 818px;
  height: 76px;
  position: absolute;
  background-color: #42FF00;
  opacity: 20%;
}
.buttomContainer {
  display: flex;
  justify-content: space-around;
}
.buttomContainer button {
  width: 92px;
  height: 79px;
  background-color: rgb(217, 217, 217, 20%);
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-height: 1075px) {
  .backimgContainer{
  height: 110%;
  }
  section.conteudo {
  margin-top: 100px;
  }
  .textContent p {
    margin-top: 38px;
  }
  .setaContainer {
    margin-top: 38px;
  }
  .greenBar {
    margin-top: 40px;
  }
  .social {
    margin-top: 160px;
  }
}
@media (max-height: 900px) {
  .backimgContainer{
  height: 120%;
  }
  section.conteudo {
  margin-top: 100px;
  }
  .textContent p {
    margin-top: 38px;
  }
  .setaContainer {
    margin-top: 38px;
  }
  .greenBar {
    margin-top: 40px;
  }
  .social {
    margin-top: 160px;
  }
}
